<% provide(:title, "About") %>

<div class="mainCont">
    <h1>About My App</h1>
    <p>This is a Ruby on Rails application that displays a online shop with a catalog of products using data from a MySQL database.</p>
    
    <p>There are different types of users:</p>
    
    <ul>
    <li>Non-registered Users</li>
    <li>Registered Users</li>
    <li>Administrators</li>
    </ul>
</div>