<% provide(:title, "Cart") %>

<div class="mainCont">
    <h1>My Cart</h1>
    <p>We will show the order items here. We will also provide the ability to add/remove the items or change the quantity.</p>
</div>