<% provide(:title, "Home") %>




<div class="mainCont">
    <h1 id="home_header">Welcome to the Studio Ghibli Home - West Europe Shop</h1>
    <p>Welcome to your first home page!</p>
<%= image_tag("studio-Ghibli-home-page.jpg", alt: "Welcome Logo for Studio Ghibli", :class => "welcomeIm") %>
    <br />
    <%=render 'layouts/categories'%>
    <br />
</div>
