<% provide(:title, "Welcome") %>




<div class="mainCont">
    <h1 id="home_header">Welcome !</h1>
    <p>Welcome buddy!</p>
<%= image_tag("studio-Ghibli-home-page.jpg", alt: "Welcome Logo for Studio Ghibli", :class => "welcomeIm") %>
    <br />
    <br />
</div>
