/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin:0;
    padding:0;
}
form{
    width:33%;
    margin-left:33%;
}
textarea {
    resize: none;
}

input[type=text], select, textarea, input[type=password], input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}


a.button:visited {
    color: #FFF;
}
#searchFrm{
    margin-left:33%;
}

.headSec {
    background: url("/assets/Site/Studio-Ghibli-Header.jpg");
    background-repeat: repeat;
    background-size:30% 100%;
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
}
.headSec h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;
    text-align: center;
}
.headSec ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.headSec li {
    float:left;
    
}
.headSec li a {
     display: block;
     color: #ffffff;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
.mainCont {
     margin: auto;
     width:80%;
     text-align: center;
}
.welcomeIm {
    width: 80%;
}
.foot {
     min-height: 80px;
     background-color: #b3e0ff;
     width: 100%;
     overflow: auto;
}
.container {
    background: url("/assets/Site/totoro-studio-ghibli.png"), url("/assets/Site/spirited-away-studio-ghibli.png");
   background-size:400px, 400px;
    background-repeat:no-repeat, no-repeat;
    background-position:left bottom, right bottom;
    width: 100%;
    min-height: 700px;
    margin:0;
    padding:0;
}

ul {
    text-align: center;
    list-style-position: inside;
}
#notice{
    color:green;
}


/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    form{
        width:60%;
        margin-left:20%;
    }
    .headSec h1 {
        font-size: 32px;
        padding: 15px;
    }
    .welcomeIm {
        width: 60%;
    }
    .container {
       background-size:200px, 200px;
       min-height:500px;
    }
}