

<div class="mainCont"> 

    <h1>Editing Product</h1>
    
    <%= 
    # This is the webpage rendered after clicking on the Edit button
    
    render 'form', product: @product %>
    
    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
    
</div>