<div class="mainCont">

    <h1>New Product</h1>
    
    <%= 
    # This main page where the form is rendered and we can create the new products.
    
    render 'form', product: @product %>
    
    <%= link_to 'Back', products_path %>

</div>

